body {background-color:#051622}

h2{color: #1ba098; font-family: sans-serif ;}

h3{color: #1ba098; font-family: sans-serif ;}

p{color: #deb992; font-family: sans-serif;}

a {color: #deb992;}
a:hover {color: #e49037;}

button {background-color:  beige;}

.Hedder-two{
border-bottom:  solid;
border-color: #1ba098}

.Project-left{
    padding-left: 2.5%;
    float: left;
    width: 45%;}

.Project-right{
    padding-right: 2.5%;
    padding-left: 5%;
    float: left;
    width: 45%;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .Project-left, .Project-right {
        width: 100%;
        padding: 0%;
    }
}